<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>SQL</title>
</head>
<body class="bg-gray-900">    
    <div class="container px-5 py-12 mx-auto flex flex-col">
           <iframe class="rounded-lg" src="https://www.programiz.com/sql/online-compiler/" height="700" width="fit"></iframe>
        </div>
</body>
</html>